.contact-form {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(243, 243, 243, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(243, 243, 243, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(243, 243, 243, 1) 50%,
        rgba(255, 255, 255, 1) 100%
    );
    color: var(--primary-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 15% 5%;
}

.contact-form input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    margin: 0.8rem 0;
}

.contact-form-title {
    padding: 0.5rem 0;
}

.contact-form-legal-container {
    padding: 1.5rem 0;
}

.contact-form-legal {
    font-size: 0.9rem;
}

.contact-form-legal:nth-child(2) {
    padding: 2rem 0 0.5rem 0;
}

.contact-form-legal-link {
    text-decoration: none;
}

/*
Mobile
*/
@media screen and (max-width: 1024px) {
    .contact-form {
        margin: 0 15%;
    }
}

@media screen and (max-width: 432px) {
    .contact-form {
        margin: 0;
    }
}
