.cookie-policy {
    padding: 10% 0;
}

.cookie-policy-header-container {
    margin-bottom: 10%;
}

.cookie-policy-title {
    padding: 2rem 0 0.5rem 0;
}

.cookie-policy-content {
    margin: 1.2rem 0;
}

.cookie-policy-list-container {
    margin-left: 1.2rem;
}
