.footer {
    color: var(--white);
    background: var(--nav-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
    width: 100%;
    padding: 3% 12%;
    border-top: 2px solid var(--white);
    font-size: 1rem;
}

.footer-content-container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.footer-link {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.footer-copyright {
    font-size: 1.1rem;
    margin-top: 5%;
}

.footer-link:hover {
    background-color: var(--primary-color);
    border-radius: 6px;
    transition: all 0.5s ease-out;
}

.footer-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.footer-email {
    display: flex;
    justify-content: space-between;
}

.footer-email input {
    width: 20rem;
    padding: 1rem;
    color: var(--white);
    background: var(--nav-color);
    border: 2px solid var(--white);
    font-size: 0.9rem;
    font-weight: 700;
}

.footer-email input::placeholder {
    color: var(--white);
}

.footer-email-content {
    padding-top: 0.5rem;
}

/*
Mobile
*/
@media screen and (max-width: 1200px) {
    .footer-links {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .footer-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 550px) {
    .footer-email-container {
        display: none;
    }
}

@media screen and (max-width: 432px) {
    .footer-copyright {
        margin: 10%;
    }
}
