.terms-and-conditions {
    padding: 10% 0;
}

.terms-and-conditions-header-container {
    margin-bottom: 10%;
}

.terms-and-conditions-title {
    padding: 2rem 0 0.5rem 0;
}

.terms-and-conditions-content {
    margin: 1.2rem 0;
}

.terms-and-conditions-list-container {
    margin-left: 1.2rem;
}
